

section{
    background-color: #FFEAE3;
    height: 350px;
    margin-top: 150px;
}
.row{
    .jjjjjj{
        margin-top: 40px;
        width: 250px;
    }
    font-size: 20px;
    width: 100%;
    
}

.imgnpm {
    .immm{
        width: 100px;
        height: 40px;
    }
}

.imgsnpm{   
    display: flex;
    align-items: center;
    gap: 20px;
    .imgfczl{
        width: 80px;
       height: 40px;
    }
    
}
.title_hovers{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title_hovers:hover{
   color: #ff5b6a;
}
.imgsss{
        width: 150px;
        margin-top: 30px;
        
}
